/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  /* 1em = 16px */
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   !Custom styles
========================================================================== */
*:focus {
  outline: 4px solid rgb(195, 231, 141);
}

button:focus {
  background-color: rgb(23, 36, 4);
}

html {
  font-size: 1rem;
}

.content-wrapper {
  outline: 3px dotted red;
  width: 90%;
  margin: 50px 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  color: #e2e3ed;
  text-align: left;
}

h1.hero-text {
  font-family: "Poppins", sans-serif;
  font-size: 2.5em;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.875em;
}

h3,
h4 {
  font-family: "Poppins", sans-serif;
  font-size: 1.125em;
}

p {
  font-size: 0.875em;
  line-height: 1.285;
}

/* ==========================================================================
   !Base Header & Footer Styles
========================================================================== */

header {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  background-color: #000;
}

header .content-wrapper {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin: 0;
}

header nav {
  width: 60%;
}

header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  /* justify-content: space-around; */
  width: 100%;
  margin-left: 30px;
}

a {
  color: white;
  text-decoration: none;
}

a[aria-current] {
  font-weight: bold;
  border-bottom: 1px solid white;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #202322;
}

.social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-icons p {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #527158;
  border-radius: 100%;
  width: 25px;
  height: 25px;
}

/* ==========================================================================
   !Mobile styles
   ========================================================================== */

/* Homepage Header (Mobile) ====================================================*/
img {
  width: 75%;
}

a {
  display: flex;
  justify-content: center;
}

/* Homepage Hero (Mobile) ====================================================*/
.hero-area {
  display: flex;
  justify-content: center;
  background-image: url("../img/unplugged-retreat.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
}

h1.hero-text {
  font-size: 2.5em;
  margin-top: -30px;
}

/* Homepage Aside  (Mobile) ====================================================*/
aside {
  display: flex;
  justify-content: center;
  background-color: #527158;
}

.form #email,
button {
  display: flex;
  flex-direction: column;
  /* margin: 10px; */
}

#email {
  margin-bottom: 10px;
}

aside .form {
  margin-top: 30px;
}

#email {
  color: #2a423a;
  font-style: italic;
  width: 100%;
  box-sizing: border-box;
  padding: 1em;
}

button {
  display: flex;
  background-color: #2a423a;
  color: #e2e3ed;
  padding: 20px 0;
  align-items: center;
  text-transform: uppercase;
  width: 100%;
}

figure {
  margin: 0;
}

/* Homepage Features (Mobile) ====================================================*/

.features {
  display: flex;
  justify-content: center;
}

.features {
  background-image: url("../img/unplugged-retreat-features.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.features h2 {
  margin-bottom: 60px;
  color: whitesmoke;
  font-size: 35px;
}

.features article {
  width: 65%;
  margin: 30px 0;
}

.features .features-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.features .icon {
  font-size: 50px;
}

.features p {
  margin: 0;
  color: whitesmoke;
  padding-top: 15px;
}

/* Homepage Reviews (Mobile) ====================================================*/
.reviews {
  display: flex;
  justify-content: center;
  background-color: #2a423a;
}

.reviews h2 {
  width: 90%;
}

.reviews .review-img img {
  /* Make sure the image takes the full space of the figure */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews h3 {
  width: 55%;
}

/* Homepage Footer (Mobile) ====================================================*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

footer p {
  margin: 0;
}

footer .content-wrapper {
  width: 60%;
}

.contact h4,
.social h4 {
  margin: 20px 0;
}

.copyright {
  margin: 20px 0;
}

/* FAQ Page (Mobile) ====================================================*/
.faq {
  display: flex;
  justify-content: center;
  background-color: #527158;
}

.faq h2 {
  /* margin-top: 50px 0 0 0; */
  margin-bottom: 40px;
}

.answer {
  margin-bottom: 50px;
}

/* ABOUT Page (Mobile) ====================================================*/

/* ABOUT Mission (Mobile) ====================================================*/
.mission {
  background-color: #527158;
  display: flex;
  justify-content: center;
}

/* ABOUT Map (Mobile) ====================================================*/
.map figure {
  position: relative;
  padding-bottom: 125%;
  height: 0;
  overflow: hidden;
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ABOUT Contact (Mobile) ====================================================*/
.contact-section {
  background-color: #2a423a;
  display: flex;
  justify-content: center;
}

.contact-content {
  margin: 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ============================================
   Author Media Queries
   ============================================ */

/* ==========================================================================
   !Tablet styles (768px)
   ========================================================================== */
@media only screen and (min-width: 768px) {
  .content-wrapper {
    max-width: 680px;
    margin: 100px 0;
  }

  /* Homepage Header (Tablet) ====================================================*/
  header {
    padding: 33px 0;
  }

  header .content-wrapper {
    display: flex;
    width: 100%;
  }

  header figure a {
    margin-left: -60px;
  }

  header nav {
    width: 20%;
    margin-right: 100px;
    margin-top: 3px;
  }

  /* Homepage Hero (Tablet) ====================================================*/
  .hero-area {
    margin: 0;
    height: 700px;
  }

  h1.hero-text {
    font-size: 3.2em;
  }

  /* Homepage Aside (Tablet) ====================================================*/
  aside .content-wrapper {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
  }

  aside .content-wrapper .form-description,
  aside .content-wrapper .form {
    width: 40%;
    margin: 0;
  }

  /* Homepage Features (Tablet) ====================================================*/
  .features .features-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .features article {
    width: 48%;
    text-align: center;
  }

  .features .icon {
    font-size: 50px;
  }

  p.features-item-description {
    width: 80%;
    margin: 0 auto;
  }

  /* Homepage Review (Tablet) ====================================================*/
  .review-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .review-img {
    flex: 0 0 50%;
    /* flex-grow, flex-shrink, and flex basis (set to take up 50% of the container) */
    margin-right: 20px;
  }

  .review-img img {
    width: 100%;
    /* will take up 100% of the img's container */
    height: auto;
    /* maintains the img's aspect ratio */
  }

  article {
    flex: 0 0 calc(50% - 20px);
    /* flex-grow, flex-shrink anc calc (initial size of the article which was 50% and account for 
    20 pixels of margin on both sides) */
  }

  /* *The tablet review section css does the following: */
  /* creates a layout where the image takes up 50% of the container, and the article 
  takes up the remaining 50%, with a 20-pixel margin between them. 
  The justify-content: space-between; property ensures they are spaced apart horizontally, 
  and align-items: center; vertically centers them within the .review-content container. */

  /* Homepage Footer (Tablet) ====================================================*/
  footer.contact {
    margin: 0;
  }

  footer .content-wrapper {
    width: 65%;
    margin: 100px 0;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 25px;
  }

  .social h4 {
    margin-top: 3px;
    padding-right: 20px;
  }

  .social-icons p {
    margin-right: 20px;
  }

  footer .copyright {
    width: 100%;
  }

  /* FAQ Page (Tablet) ====================================================*/
  .faq {
    display: flex;
    justify-content: center;
    background-color: #527158;
  }

  .faq h2 {
    margin-bottom: 40px;
  }

  .questions-and-answers {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
    justify-content: space-between; /* Adjust as needed */
    width: 100%;
  }

  .qa-pair {
    flex-basis: calc(50% - 40px); /* Set to 50% width with some spacing */
    margin-bottom: 20px; /* Add some margin between items */
  }

  /* ABOUT Page (Tablet) ====================================================*/
  .mission {
    display: flex;
    justify-content: center;
  }

  .mission-statements {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
    justify-content: space-between; /* Adjust as needed */
    width: 100%;
  }

  .statement {
    flex-basis: calc(50% - 40px); /* Set to 50% width with some spacing */
    margin-bottom: 20px; /* Add some margin between items */
  }

  .map figure {
    padding-bottom: 80%;
  }

  .contact-section {
    display: flex;
    justify-content: center;
  }

  .contact-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    flex-basis: calc(50% - 30px);
  }
}

/* ==========================================================================
   !Desktop styles (1200px)
   ========================================================================== */
@media only screen and (min-width: 1200px) {
  .content-wrapper {
    max-width: 960px;
    margin: 100px 0;
  }

  /* Homepage Header (Desktop) ====================================================*/
  header .content-wrapper {
    max-width: 1150px;
  }
  /* header {
    padding: 15px 0;
  } */

  header figure a {
    margin-left: -50px;
    margin-right: 350px;
  }

  header nav ul {
    margin-top: 25px;
  }

  /* Homepage Hero (Desktop) ====================================================*/
  .hero-area {
    margin: 0;
    height: 600px;
  }

  h1.hero-text {
    font-size: 3.8em;
    width: 80%;
    margin-top: -75px;
  }

  /* Homepage Aside (Desktop) ====================================================*/
  aside .content-wrapper {
    justify-content: space-around;
  }

  aside .content-wrapper .form-description,
  aside .content-wrapper .form {
    width: 30%;
  }

  /* Homepage Features (Desktop) ====================================================*/
  .features h2 {
    width: 90%;
  }

  .features article {
    flex-basis: 33%;
  }

  p.features-item-description {
    margin-top: 10px;
  }

  /* Homepage Reviews (Desktop) ====================================================*/
  .reviews article div {
    width: 80%;
    padding-left: 25px;
  }

  .review-content {
    margin-top: 50px;
  }

  /* Homepage Footer (Desktop) ====================================================*/
  .footer-content {
    margin: 0 100px;
  }

  /* ABOUT page (Desktop) ====================================================*/
  .map figure {
    padding-bottom: 60%;
  }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
